.A {
    background-color: #ffae00;
    width: 500px;
    height: 500px;
}

.B {
    background-color: #15DF22;
    height: 50%;
    width: 50%;
}

.C {
    color: white; 
    background-color: red; 
    font-size: 25px; 
    font-family: monospace; 
    font-weight: 500;
}

.D {
    background-color: rgb(15, 156, 199); 
    width: 50%;
    height: 50vh;
}

.E {
    width: 75vw;
    height: 50%;
    background-color: rgb(190, 8, 8);
}